In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('train_data.csv')
df_train.drop('Unnamed: 0', axis=1, inplace=True)
df_train.head()

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,NaN,2016-12-28,30.46,0,2016,1090.60,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,5
1,NaN,2016-12-27,0.00,1,2016,180.91,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,2230000,164.0,0.0,6
2,NaN,2016-12-27,35.60,0,2016,1363.48,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010131,128.0,0.0,13
3,08:24:24,2017-10-23,31.01,0,2017,1181.45,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
4,NaN,2017-03-19,51.95,0,2017,1818.09,2418.0,21-8B2-7695,27.12.16 23:06:11,9.0,454.0,1010121,126.0,0.0,5

In [3]:
len(df_train)

5563602

In [124]:
subm = pd.read_csv('sample_submission.csv')
print(len(subm))
subm.head()

31122

             id  proba
0  21-186G-1142    0.5
1  21-186G-1227    0.5
2  21-186G-1306    0.5
3  21-186G-1310    0.5
4  21-186G-1358    0.5

In [6]:
df_train.head()

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,NaN,2016-12-28,30.46,0,2016,1090.60,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,5
1,NaN,2016-12-27,0.00,1,2016,180.91,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,2230000,164.0,0.0,6
2,NaN,2016-12-27,35.60,0,2016,1363.48,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010131,128.0,0.0,13
3,08:24:24,2017-10-23,31.01,0,2017,1181.45,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
4,NaN,2017-03-19,51.95,0,2017,1818.09,2418.0,21-8B2-7695,27.12.16 23:06:11,9.0,454.0,1010121,126.0,0.0,5

In [116]:
print(df_train['date'].min())
print(df_train['date'].max())

2016-01-01
2017-12-31

In [117]:
print(df_test['date'].min())
print(df_test['date'].max())

2016-01-01
2017-11-30

In [59]:
train = df_train[(df_train.date >= '2017-11-01') & (df_train.date <= '2017-11-30')]
test = df_train[(df_train.date >= '2017-12-01') & (df_train.date <= '2017-12-31')]

In [60]:
agg_train = train.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()
agg_train.head()

              q     v_l    sum_b  percent
id
21-186G-1172  0  123.24  4409.81     1.14
21-186G-1190  0   42.76  1545.69     0.25
21-186G-1193  1   20.92   845.79     0.00
21-186G-12    0  114.72  4288.22   859.73
21-186G-1201  0   24.56   908.85     0.00

In [77]:
#agg_target = agg_train.index.isin(test['id'])
len(agg_target[agg_target == False])

7177

In [78]:
len(agg_target)

52721

In [62]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [63]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [91]:
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(agg_train, agg_target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [92]:
cross_val_score(clf, agg_train, agg_target).mean()

0.86386828882631361

In [93]:
df_test = pd.read_csv('test_data.csv')
df_test.drop('Unnamed: 0', axis=1, inplace=True)
df_test.head()

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,21:23:27,2017-08-12,11.89,0,2017,454.83,11125.0,21-8AD-19813,12.01.16 16:12:54,9.0,436.0,01010211,152.0,0.00,7
1,08:58:01,2016-05-10,12.32,0,2016,454.54,2388.0,21-8AH-16987,02.01.16 09:59:24,11.0,454.0,01010131,128.0,13.63,13
2,17:33:27,2017-07-26,45.36,0,2017,1863.99,1716.0,21-8B0-11899,03.01.16 14:33:09,9.0,430.0,01010132,132.0,0.00,7
3,NaN,2016-09-05,7.84,0,2016,263.69,3246.0,21-8AF-17077,12.05.15 03:24:33,6.0,458.0,01010121,126.0,0.00,5
4,NaN,2017-06-10,0.00,1,2017,53.64,3303.0,21-8AN-4584,04.01.16 18:55:55,5.0,459.0,02300000,234.0,0.00,6

In [94]:
agg_test = df_test.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()
agg_test.head()

               q      v_l     sum_b  percent
id
21-186G-1142  22  1255.58  46867.86  2310.34
21-186G-1225  41   544.48  24726.12   630.90
21-186G-1227   0   439.88  16137.20   629.16
21-186G-1232   3  1532.83  57665.19  3375.81
21-186G-1258   8  1669.30  64477.12  3196.04

In [123]:
agg_test = pd.read_csv('train_target.csv')
agg_test.head()

   target        date            id
0       0  2016-03-01  21-186G-1161
1       1  2016-04-01  21-186G-1161
2       1  2016-07-01  21-186G-1161
3       0  2016-09-01  21-186G-1161
4       0  2016-10-01  21-186G-1161

In [105]:
my_pred = clf.predict_proba(agg_test)

In [106]:
my_pred = [x[1] for x in my_pred]

In [107]:
pred = pd.DataFrame()
pred['id'] = agg_test.index
pred['proba'] = my_pred
pred.head()

             id     proba
0  21-186G-1142  0.988061
1  21-186G-1225  0.988061
2  21-186G-1227  0.986572
3  21-186G-1232  0.986411
4  21-186G-1258  0.988061

In [108]:
pred.to_csv('subm.csv', index=False)

In [72]:
pred['proba'].value_counts()

True    31122
Name: proba, dtype: int64

In [82]:
def make_target(df, test_start):
    test_next_month = test_start.month + 1 if test_start.month != 12 else 1
    test_end = test_start.replace(month=test_next_month)
    users = df[['user_id']][df['datetime'] < test_start].drop_duplicates()
    zeros = df[(df['datetime'] >= test_start) & (df['datetime'] < test_end)]['user_id'].unique()
    del df
    users['target'] = 1
    users['target'][users['user_id'].isin(zeros)] = 0
    users = users.set_index('user_id')['target']
    return users

In [115]:
from datetime import datetime

datetime_object = datetime.strptime('2017-12-01', '%Y-%m-%d')
datetime_object

datetime.datetime(2017, 12, 1, 0, 0)

In [114]:
make_target(train, datetime.datetime(datetime.strptime('2017-12-01', '%Y-%m-%d')))

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [84]:
train.month = 
train.head()

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
64,14:33:02,2017-11-29,46.62,0,2017,1818.11,5915.0,21-8B2-7693,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
68,15:23:54,2017-11-02,14.30,0,2017,544.83,5915.0,21-8B2-7693,04.01.17 19:51:33,10.0,454.5,1010121,126.0,0.0,13
81,06:31:36,2017-11-17,0.00,1,2017,35.45,10767.0,21-8B2-7693,04.01.17 19:51:33,9.0,454.5,2240000,154.0,0.0,6
82,06:31:35,2017-11-17,0.00,1,2017,71.82,10767.0,21-8B2-7693,04.01.17 19:51:33,9.0,454.5,2210000,202.0,0.0,6
105,18:32:24,2017-11-06,12.59,0,2017,454.54,2454.0,21-8B2-7685,10.02.17 20:53:33,9.0,455.5,1010121,126.0,0.0,13

In [121]:
subm['proba'] = 0.8442978201619481
subm.to_csv('subm.csv', index=False)
subm.head()

             id     proba
0  21-186G-1142  0.844298
1  21-186G-1227  0.844298
2  21-186G-1306  0.844298
3  21-186G-1310  0.844298
4  21-186G-1358  0.844298

In [109]:
train.head()

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
64,14:33:02,2017-11-29,46.62,0,2017,1818.11,5915.0,21-8B2-7693,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
68,15:23:54,2017-11-02,14.30,0,2017,544.83,5915.0,21-8B2-7693,04.01.17 19:51:33,10.0,454.5,1010121,126.0,0.0,13
81,06:31:36,2017-11-17,0.00,1,2017,35.45,10767.0,21-8B2-7693,04.01.17 19:51:33,9.0,454.5,2240000,154.0,0.0,6
82,06:31:35,2017-11-17,0.00,1,2017,71.82,10767.0,21-8B2-7693,04.01.17 19:51:33,9.0,454.5,2210000,202.0,0.0,6
105,18:32:24,2017-11-06,12.59,0,2017,454.54,2454.0,21-8B2-7685,10.02.17 20:53:33,9.0,455.5,1010121,126.0,0.0,13