In [2]:
import pandas as pd
from datetime import datetime
import tqdm

In [3]:
train_target = pd.read_csv('train_target.csv')
train_target['date'] = train_target['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
train_target.head()

   target       date            id
0       0 2016-03-01  21-186G-1161
1       1 2016-04-01  21-186G-1161
2       1 2016-07-01  21-186G-1161
3       0 2016-09-01  21-186G-1161
4       0 2016-10-01  21-186G-1161

In [4]:
df = pd.read_csv('features_codes_38.csv')
df['date'] = df['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
df.head()

,id,date,101,106,201,202,203,204,205,206,...,234,235,237,238,239,240,242,243,412,999
0,21-186G-1161,2016-03-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21-186G-1161,2016-04-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21-186G-1161,2016-07-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21-186G-1161,2016-09-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21-186G-1161,2016-10-01,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
user_month_azs = pd.read_csv('user_month_azs.csv')
user_month_azs['id'] = user_month_azs['user_month'].apply(lambda x: x.split('_')[0])
user_month_azs['date'] = user_month_azs['user_month'].apply(lambda x: datetime(2016, int(x.split('_')[1]), 1) if int(x.split('_')[1]) <= 12 else datetime(2017, int(x.split('_')[1])-12, 1))
user_month_azs.drop('user_month', axis=1, inplace=True)
user_month_azs.head()

,num_unique_azs_visited,most_popular_azs,num_visits,id,date
0,1,5915.0,3,21-8B2-7695,2016-12-01
1,1,5915.0,3,21-8B2-7695,2016-12-01
2,1,5915.0,3,21-8B2-7695,2016-12-01
3,1,5915.0,5,21-8B2-7695,2017-08-01
4,4,2418.0,7,21-8B2-7695,2016-06-01

In [12]:
X = df.set_index(['id', 'date']).join(user_month_azs.set_index(['id', 'date']))
X.head()

                         101  106  201  202  203  204  205  206  207  208  \
id           date
21-186G-1161 2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                            ...      238  239  240  242  243  412  999  \
id           date           ...
21-186G-1161 2016-03-01     ...      0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-03-01     ...      0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01     ...      0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01     ...      0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01     ...      0.0  0.0  0.0  0.0  0.0  0.0  0.0

                         num_unique_azs_visited  most_popular_azs  num_visits
id           date
21-186G-1161 2016-03-01                     1.0            6597.0         2.0
             2016-03-01                     1.0            6597.0         2.0
             2016-04-01                     1.0            6597.0         2.0
             2016-04-01                     1.0            6597.0         2.0
             2016-07-01                     1.0            6597.0         2.0

[5 rows x 41 columns]

In [13]:
X = X.join(train_target.set_index(['id', 'date']))
X.head()

                         101  106  201  202  203  204  205  206  207  208  \
id           date
21-186G-1161 2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                          ...    239  240  242  243  412  999  \
id           date         ...
21-186G-1161 2016-03-01   ...    0.0  0.0  0.0  0.0  0.0  0.0
             2016-03-01   ...    0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01   ...    0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01   ...    0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01   ...    0.0  0.0  0.0  0.0  0.0  0.0

                         num_unique_azs_visited  most_popular_azs  num_visits  \
id           date
21-186G-1161 2016-03-01                     1.0            6597.0         2.0
             2016-03-01                     1.0            6597.0         2.0
             2016-04-01                     1.0            6597.0         2.0
             2016-04-01                     1.0            6597.0         2.0
             2016-07-01                     1.0            6597.0         2.0

                         target
id           date
21-186G-1161 2016-03-01       0
             2016-03-01       0
             2016-04-01       1
             2016-04-01       1
             2016-07-01       1

[5 rows x 42 columns]

In [20]:
olya_simple_sum_features = pd.read_csv('olya_simple_sum_features.csv')
olya_simple_sum_features['date'] = olya_simple_sum_features['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
olya_simple_sum_features.head()

             id       date  q     v_l    sum_b  percent
0  21-186G-1161 2016-03-01  0   49.68  1818.02    54.54
1  21-186G-1161 2016-04-01  0   74.25  2774.54    83.23
2  21-186G-1161 2016-07-01  1   50.64  2003.53    60.11
3  21-186G-1161 2016-09-01  8    0.00   741.81     0.00
4  21-186G-1161 2016-10-01  0  157.59  6051.85     0.00

In [21]:
X = X.join(olya_simple_sum_features.set_index(['id', 'date']))
X.head()

                         101  106  201  202  203  204  205  206  207  208  \
id           date
21-186G-1161 2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                          ...     412  999  num_unique_azs_visited  \
id           date         ...
21-186G-1161 2016-03-01   ...     0.0  0.0                     1.0
             2016-03-01   ...     0.0  0.0                     1.0
             2016-04-01   ...     0.0  0.0                     1.0
             2016-04-01   ...     0.0  0.0                     1.0
             2016-07-01   ...     0.0  0.0                     1.0

                         most_popular_azs  num_visits  target  q    v_l  \
id           date
21-186G-1161 2016-03-01            6597.0         2.0       0  0  49.68
             2016-03-01            6597.0         2.0       0  0  49.68
             2016-04-01            6597.0         2.0       1  0  74.25
             2016-04-01            6597.0         2.0       1  0  74.25
             2016-07-01            6597.0         2.0       1  1  50.64

                           sum_b  percent
id           date
21-186G-1161 2016-03-01  1818.02    54.54
             2016-03-01  1818.02    54.54
             2016-04-01  2774.54    83.23
             2016-04-01  2774.54    83.23
             2016-07-01  2003.53    60.11

[5 rows x 46 columns]

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [22]:
X = X.fillna(0)

In [23]:
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(X.drop('target'), X['target'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [24]:
cross_val_score(clf, X.iloc[:,:-1], X.iloc[:,-1], scoring='roc_auc', cv = 3).mean()

ValueError: Unknown label type: 'continuous'